# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments (local)
venv/
.env/
.venv/

# VS Code settings
.vscode/

# Large files
data/
tests/test_data/
models/*.npy
models/*.h5
models/*.onnx
