# run `venv\Scripts\activate` in the root folder to launch Python 3.10.11 virtual env
# ^(AMY'S NOTE: you don't need to do this if you actually have 3.10 lol)
# then run `pip install -r requirements.txt` to install all reqs.
numpy==1.26.4
scipy==1.10.1
librosa==0.10.1
scikit-learn==1.3.2
pandas==2.1.4
matplotlib==3.7.2
tensorflow==2.10.0
tf2onnx==1.16.1
soundfile==0.12.1
tqdm==4.66.1
onnxruntime==1.17.3
onnx==1.14.1
